# Clear Cleaned up Data

In [1]:
import pandas as pd

In [2]:
file = "../Resources/healthcare_dataset.csv"
hospital_df = pd.read_csv(file)
hospital_df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [7]:
'''original datatypes'''
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  datetime64[ns]
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  datetime64[ns]
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 6.4+ MB

In [4]:
'''Change Date of Admission and Discharge Date to date_time ''' 
hospital_df['Date of Admission'] = pd.to_datetime(hospital_df['Date of Admission'])
hospital_df['Discharge Date'] = pd.to_datetime(hospital_df['Discharge Date'])

In [5]:
''' Filter out 2024 Dates'''
hospital_df_2024 = hospital_df[hospital_df['Date of Admission'].dt.year == 2024]

hospital_df_2024.head(5)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
50,mIchael LiU,30,Male,AB-,Hypertension,2024-04-05,Vicki Nguyen,"Fernandez and Phillips, Singh",Medicare,30590.541806,456,Emergency,2024-04-22,Paracetamol,Inconclusive
61,Kim ScOtt,63,Male,A-,Asthma,2024-04-07,Cindy Ellis,Scott-Kelly,UnitedHealthcare,39723.166051,244,Emergency,2024-05-04,Ibuprofen,Inconclusive
68,MicHAEl MillEr,31,Male,B+,Diabetes,2024-02-06,Jonathan Drake,"Clark Brown, and Myers",UnitedHealthcare,35776.815111,489,Emergency,2024-02-10,Penicillin,Normal
79,tiMOThY myers,61,Male,B+,Cancer,2024-03-02,Timothy Baker,and Sons Reyes,UnitedHealthcare,29504.387442,422,Urgent,2024-03-26,Ibuprofen,Inconclusive

In [6]:
''' Checking new data types'''
hospital_df_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3854 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                3854 non-null   object
 1   Age                 3854 non-null   int64
 2   Gender              3854 non-null   object
 3   Blood Type          3854 non-null   object
 4   Medical Condition   3854 non-null   object
 5   Date of Admission   3854 non-null   datetime64[ns]
 6   Doctor              3854 non-null   object
 7   Hospital            3854 non-null   object
 8   Insurance Provider  3854 non-null   object
 9   Billing Amount      3854 non-null   float64
 10  Room Number         3854 non-null   int64
 11  Admission Type      3854 non-null   object
 12  Discharge Date      3854 non-null   datetime64[ns]
 13  Medication          3854 non-null   object
 14  Test Results        3854 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 481.8+ KB